version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - ENVIRONMENT=production
      - CORS_ORIGINS=http://localhost:3001,http://nextjs-frontend:3000,https://chat.nomomon.xyz
    restart: always

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: nextjs-frontend
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
      - BASE_BACKEND_URL=http://backend:8000
    depends_on:
      - backend
    restart: always
